.catalogo {
  font-family: Arial, sans-serif;
}

.catalogo-header {
  background: #c0392b; /* 🔥 rojo principal */
  padding: 30px 50px;
  color: white;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}


.carrito-btn {
  background: rgba(255,255,255,0.15);
  color: white;

  border: 1px solid rgba(255,255,255,0.3);

  padding: 8px 14px;
  border-radius: 8px;

  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 6px;

  transition: 0.2s;
  font-weight: 500;
}

.carrito-btn:hover {
  background: white;
  color: #c0392b;
  transform: translateY(-2px);
}

/* TÍTULO */
.titulo {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

/* BODY */
.catalogo-body {
  background: #3a4651; 
  padding: 40px 50px;
  min-height: 60vh;
}

/* PAGINACIÓN */
.paginacion {
  background: #3a4651;
  padding: 20px 0;

  display: flex;
  justify-content: center;
  gap: 10px;
}

/* BOTONES */
.paginacion button {
  background: #d7dde4;
  color: #1f2937;

  border: none;
  padding: 6px 12px;
  border-radius: 6px;

  cursor: pointer;
  transition: 0.2s;
}

.paginacion button:hover {
  background: white;
  color: #c0392b;
}

.paginacion button.active {
  background: #c0392b;
  color: white;
}