.buscador {
  width: 100%;
  padding: 12px;

  border-radius: 8px;
  border: none;

  margin-bottom: 15px;

  background: rgba(255,255,255,0.9);
  color: #111827;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.buscador::placeholder {
  color: #6b7280;
}

.buscador:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.buscador:focus {
  outline: none;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

.buscador-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.modo-btn {
  background: rgba(255,255,255,0.15);
  color: white;

  border: 1px solid rgba(255,255,255,0.3);
  padding: 8px 12px;

  border-radius: 8px;
  cursor: pointer;

  transition: 0.2s;
}

.modo-btn:hover {
  background: white;
  color: #c0392b;
}